* {
    padding: 0;
    margin: 0;
}

.el-button--primary {
    color: #FFF;
    background-color: #6594ce;
    border-color: #6594ce;
} 

.el-button--primary:hover, 
.el-button--primary:focus {
    background-color: #7aa9e4;
    border-color: #7aa9e4;
}

.el-link.el-link--primary {
    color: #4270a8;
}
.el-link.el-link--primary:hover {
    color: #409EFF
}